// Colors
$dark-grey: #282c34;
$light-blue: #61dafb;
$dark-purple: #35115f;
$light-purple: #581d9c;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;